// An example configuration file that stores information about a network elements.
//E:\ani\MyCDR\IN\CDR_IN_FORMAT.CNF


PRERATETABLE = (
{ NAME= "CALLER_NUMBER" ;  POS=1; LEN=20;}
);


test1="test";

//LM_SHUTDOWN = 1,
//LM_TRACE = 2   /// Messages indicating function-calling sequence (decimal 2).
//LM_DEBUG = 4,  /// Messages that contain information normally of use only when
//LM_INFO = 8,  /// Informational messages (decimal 8).
//LM_NOTICE = 16,  /// Conditions that are not error conditions, but that may require special handling (decimal 16).
//LM_WARNING = 32,  Warning messages (decimal 32).
//LM_STARTUP = 64, Initialize the logger (decimal 64).
//LM_ERROR = 128, /// Error messages (decimal 128).
//LM_CRITICAL = 256, /// Critical conditions, such as hard device errors (decimal 256).
//LM_ALERT = 512,  /// A condition that should be corrected immediately, such as a corrupted system database (decimal 512).
//LM_EMERGENCY = 1024, A panic condition.  This is normally broadcast to all users (decimal 1024).

  /// The maximum logging priority.
  //LM_MAX = LM_EMERGENCY,

LOGLEVEL=(4,8,16,32,64,128,256,512,1024); 

LOOKUP_SCRIPT = "lookup.tcl";
STOREDEF_SCRIPT = "storedef.tcl";

COMMONFIELDS	= (
	{ NAME= "CALLER_NUMBER" ; TYPE="TEXT";	LEN=20;} , 
	{ NAME= "CALLED_NUMBER" ; TYPE="TEXT";	LEN=20;} , 
	{ NAME= "TIME" ;  		  TYPE="TEXT";	LEN=20;} , 
	{ NAME= "DURATION" ;  	  TYPE="TEXT";	LEN=20;} , 
	{ NAME= "CALLER_IMEI" ;   TYPE="TEXT";	LEN=20;} , 
	{ NAME= "CALLED_IMEI" ;   TYPE="TEXT";	LEN=20;} , 
	{ NAME= "CALLER_MSC" ;    TYPE="TEXT";	LEN=20;} , 
	{ NAME= "CALLED_msc" ;    TYPE="TEXT";	LEN=20;}  
);

TABLES=("BASE","PROFILE" ); 

BASE= 	{
			INPUT="CSV";
			CONNECT="CUSTOMER.CSV";
			SCHEMA=(
			{ NAME= "ID" ; 			TYPE="NUMBER";	LEN=20; LINK="PROFILE";} , 
			{ NAME= "NUMBER" ; 		TYPE="TEXT";	LEN=20;} , 
			{ NAME= "PROFILEID" ;   TYPE="NUMBER";	LEN=20;}  
			);	
		};

PROFILE= {
			INPUT="CSV";
			CONNECT="REL.CSV";
			SCHEMA=(
			{ NAME= "PROFILEID" ; 	TYPE="NUMBER";	LEN=20;} , 
			{ NAME= "NUMBER" ; 	TYPE="TEXT";	LEN=20;} , 
			{ NAME= "PROFILEID" ;   TYPE="NUMBER";	LEN=20;}  
			);
		};
PROFILE2= {
			INPUT="DB";
			CONNECT="REL.CSV";
			SCHEMA=(
			{ NAME= "PROFILEID" ; 	TYPE="NUMBER";	LEN=20;} , 
			{ NAME= "NUMBER" ; 	TYPE="TEXT";	LEN=20;} , 
			{ NAME= "PROFILEID" ;   TYPE="NUMBER";	LEN=20;}  
			);
		};

AGGREGATES_NUMBER=( 
		{NAME= "TOTAL"; REFTABLE="PROFILE"; REFKEY="NUMBER"; TYPE="FILE"; }
		);

		
FILESCANTIMEOUT=8;
SKIPMOVE=1;
BUFFER_SIZE=4000;
INELEMENT = (	
//	{		PATH="CSV";
//			FILE_EXP="NOR*";
//			ELEMENT_NAME = "NORTEL1";
//			TYPE = "CSV";
//			LOGLEVEL = (4,32,128); 
//			FILE_TYPE	= { 
//							BUFFER_SIZE=4000;
//							FIELDSEPERATOR = 44;
//							LINE_SEPERATOR = 10; 
//							NUMBER_OF_FIELDS = 8; 
//							MAX_FIELD_LEN = 60;
//						  }; 
//			FIELDS	= (
//							{ NAME= "CALLER_NUMBER" ;  	POS=1; LEN=20; MAP  = "CALLER_NUMBER" ;	} , 
//							{ NAME= "CALLED_NUMBER" ;  	POS=2; LEN=20; MAP 	= "CALLED_NUMBER";	} , 
//							{ NAME= "TIME" ;  		POS=3; LEN=20; MAP 	= "TIME" ;			} , 
//							{ NAME= "DURATION" ;  		POS=4; LEN=20; MAP 	= "DURATION" ;		} , 
//							{ NAME= "CALLER_IMEI" ;  	POS=5; LEN=20; MAP 	= "CALLER_IMEI" ; 	} , 
//							{ NAME= "CALLED_IMEI" ;  	POS=6; LEN=20; MAP 	= "CALLED_IMEI" ;	} , 
//							{ NAME= "CALLER_MSC" ;  	POS=7; LEN=20; MAP 	= "CALLER_MSC" ;	} , 
//							{ NAME= "CALLED_msc" ;  	POS=8; LEN=20; MAP 	= "CALLED_msc" ;	}  
//				);
//	},
	{
			PATH="FIX";
			FILE_EXP="NOR*";
			ELEMENT_NAME = "SEIMENS1";
			TYPE = "FIXED";
			SCRIPT = "seimens1.nut";
			LOGLEVEL=(4,32,128); 
			FILE_TYPE	= {  
							LINE_SEPERATOR = 10;
							NUMBER_OF_FIELDS = 8; 
						  }; 
			FIELDS		= (
							{ NAME= "CALLER_NUMBER" ;  	START=1; END=10; MAP = "CALLER_NUMBER";	} , 
							{ NAME= "CALLED_NUMBER" ;  	START=11; END=20;MAP= "CALLED_NUMBER";	} , 
							{ NAME= "TIME" ;  		START=21; END=30;MAP= "TIME" ;			}, 
							{ NAME= "DURATION" ;  		START=31; END=40;MAP= "DURATION" ;		}, 
							{ NAME= "CALLER_IMEI" ;  	START=41; END=50;MAP= "CALLER_IMEI" ; }, 
							{ NAME= "CALLED_IMEI" ;  	START=51; END=60;MAP= "CALLED_IMEI" ;	} , 
							{ NAME= "CALLER_MSC" ;  	START=61; END=70;MAP= "CALLER_MSC" ;	} , 
							{ NAME= "CALLED_msc" ;  	START=71; END=80;MAP=  "CALLED_msc" ;	}
					  );                                                 
	}                        
);
